body{
    background-color: rgb(250, 227, 197);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

#graphs-container{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

#titles{
    display: none;
    width: 100%;
    height: 25px;
    justify-content: space-evenly;
    align-items: center;
    gap: 100px;
}
#containers{
    display: flex;
}

#title{
    margin: 0px;
}
#graph-manipulation{
    margin-bottom: 20px;
}

button {
    background-color: #66a3ff;
    color: #000000;
    width: 200px;
    height: 35px;
    font-size: 18px;
    border-radius: 12px;
    border: none;
    padding: 8px 12px 8px 12px;
    margin-right: 10px;

}
#result{
    background-color: rgb(217, 165, 69);
}

#numVilles{
    border: 1px solid   rgb(217, 165, 69);
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
}

#temps1 , #temps2{
    font-weight: bolder;    
}

.methode1 , .methode2{

    margin-top: 100px;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 12px;
}

#villeDepart {
    border: 1px solid   rgb(217, 165, 69);
    height: 35px;
    border-radius: 8px;
    font-size: 18px;
}